/* Self-hosted IBM Plex Sans — the Flag UI/text family.
 * Source: IBM (© 2017 IBM Corp.), Reserved Font Name "Plex".
 * Licence: SIL Open Font License 1.1 — see ./ibm-plex-sans/OFL.txt
 * Upstream: https://github.com/IBM/plex
 * Files: IBMPlexSans-400.woff2, IBMPlexSans-700.woff2
 * Weights used by the Flag design system:
 *   400 — body / UI text  (--font-body)
 *   700 — headlines / subheadlines  (--font-heading)
 */

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./ibm-plex-sans/IBMPlexSans-400.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./ibm-plex-sans/IBMPlexSans-700.woff2") format("woff2");
}
